RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^$ index.php [QSA,L]

<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/gif "access plus 10 year"
ExpiresByType image/png "access plus 10 year"
ExpiresByType image/jpg "access plus 10 year"
ExpiresByType image/jpeg "access plus 10 year"
ExpiresByType text/css "access plus 1 hours"
ExpiresByType text/javascript "access plus 1 hours"
</IfModule>
FileETag none

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/javascript text/css image/svg+xml
</IfModule>
